@charset "utf-8";

/*
I Can Read
Cascading Stlye Sheet
Author: Sergio P. Arambul
Date: October 29, 2019
   Filename: style.css
*/
html {
  background-color:#248;
  background-image:url('images/kid_coloum.png');
}
body {
    background-image:url('images/abc.png');
  margin-left:200px;
  margin-right:200px;
  background-color:white;
  padding-top: 0px;
  padding-bottom: 0px;
}
img{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
background-color:#1019;
 border: none; /* Remove borders */
 color: white; /* White text */
 padding: 10px 20px 10px 20px; /* Some padding */
 font-size: 50px; /* Set a font size */
 cursor: pointer; /* Mouse pointer on hover */
 position: relative;
 left: 550px;
}

/* Darker background on mouse-over */
.btn:hover {

}



/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
footer {

text-align: center;
	background-color: #555;
	color: white;
	font-size: 1.5em;
padding-top: 20px;
padding-bottom: 20px;
}


.carousel-inner {
background-color: white;
margin-left:0px;
margin-right:0px;
}

.item {
  /*background-image:url('images/owl.png');*/
background-color: white;
margin-left:250px;
margin-right:250px;
border: 5px outset green;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
 width:100%; /* Full width */
 padding: 20px; /* Some padding */
 font-size: 25px;
 border: 1px solid #ccc; /* Gray border */
 border-radius: 5px; /* Rounded borders */
 box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin-top: 6px; /* Add a top margin */
 margin-bottom: 16px; /* Bottom margin */
 resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: red;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 25px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
   margin-top: 25px; /* Add a top margin */
 border-radius: 5px;
 background-color:green;
 padding: 10px;
 font-size: 25px;
 color: yellow;

}
div.about {
background-color:green;
color:white;
  border: 1px solid gray;
  margin-left:210px;
  margin-right:210px;
  padding: 8px;
}
div#colour{
  background-color:green;
}

h2 {

  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
   font-size: 50px;
   font-family:Helvetica, sans-serif;
}
h3 {

  text-align: center;
  border: 5px outset white;
  text-transform: uppercase;
  color: White;
   font-size: 50px;
   font-family:Helvetica, sans-serif;
}



p {
border: 5px outset white;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  padding: 25px;
   font-size: 25px;
   font-family:Helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: yellow;
}
.nav-item {
border: 5px outset green;

background:none ;
margin-bottom: 0px;
}

/* Navbar links */
.nav-item a {
border: 5px outset green;
text-align: center;
padding:15px;
color: black;
text-decoration: none;
font-size: 25px;
font-family:Helvetica, sans-serif;
background:yellow;

}

/* Navbar links on mouse-over */
.nav-item a:hover {
 color: red;
}
footer {
text-align: center;

background: yellow;
border: 5px outset green;
color: black;
font-size: 25px;;
font-family: Helvetica, sans-serif;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 100px;

}
.twitter-timeline {
margin-left:10px;
margin-right:410px;
padding:15px;
position: relative;
left: 82px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.green {
  background-color: green;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 25px;
  color: yellow;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn2 {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
.row2 {
  display: flex;
  background-color: green;
}

/* Create three equal columns that sits next to each other */
.column2 {
  flex: 33.33%;
  padding: 5px;

}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }

}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
           .container:before, .container:after {
            content: "";
            display: table;
         }
         .container:after {
            clear: both;
         }
         .container {
            background: #eaeaed;
            margin-bottom: 24px;
            *zoom: 1;
         }
         .container-75 {
            width: 75%;
         }
         .container-50 {
            margin-bottom: 0;
            width: 50%;
         }
         .container, section, aside {
            border-radius: 6px;
         }
         section, aside {
            background: #2db34a;
            color: #fff;
            margin: 1.858736059%;
            padding: 20px 0;
            text-align: center;
         }
         section {
            float: left;
            width: 63.197026%;
         }
         aside {
            float: right;
            width: 29.3680297%;
         }
		 
		 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
